.timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap:12px;
}

.coins {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #283618;
}

.playButton {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #DDA15E;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background 0.2s ease;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.playButton:hover {
  background-color: rgba(221, 161, 94, 0.84);
}
.playButton:focus {
  outline: none;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;

}

.playButton.playing::after, .playButton.playing::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle),transparent, #BC6C25, transparent 30%);
  top: 50%;
  left:50%;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: -1;
  padding: 3px;
  animation: 3s spin linear infinite;
  mask: radial-gradient(circle, transparent 20%, black 50%);
}

@keyframes spin {
  from{
    --angle:0deg;
  }
  to{
    --angle:360deg;
  }
}
.playIcon {
  width: 85%;;
}
.playButtonContainer, .songCardContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.songCardContainer {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
}

.flipContainer {
  perspective: 1000px;
  width: 120px;
  height: 80px;
  margin-bottom: 30px;
  cursor: pointer;
}

.front, .back {
  position: absolute;
  width: 100%;
  height:100%;
  border-radius: 8px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.front {
  background-color: #DDA15E;
  color: white;
}

.back {
  background-color: #BC6C25;
  transform: rotateY(180deg);
  flex-direction: column;
  color: white;
}

.songCard {
  width: 120px;
  height: 80px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  border-radius: 8px;
  background-color: #606C38;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.songCard.flipped {
  transform: rotateY(180deg);
  color: white;
}

.addButtonContainer {
  height: 80px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addButton{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b2af9d;
  color: black;
  cursor: pointer;
}
.plusIcon {
  width: 100%;
}