/* defining main colors of the app, can be referenced by name anywhere in CSS */
:root {
  --background: #fefae0;
  --primary-dark: #bc6c25;
  --primary-light: #dda15e;
  --secondary-dark: #283618;
  --secondary-light: #606c38;

  --background-transparent: rgba(254, 250, 224, 0.5);
  --secondary-light-transparent: rgba(96, 108, 56, 0.85);
  /*--foreground: #171717;*/
}

/* makes background image slightly opaque */
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-transparent);
  z-index: 0;
  pointer-events: none;
}

/* TODO: prevents horizontal scrolling which could be needed for long timelines? */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* sets defaults for non ant compnents */
body {
  color: var(--secondary-dark);
  background: var(--background);
  font-family:
    var(--font-geist-sans),
    var(--font-geist-mono),
    Arial,
    Helvetica,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 'reset' all paddings and margins, border-box makes an element be always its set with/height (including padding and margin)*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--secondary-light);
  text-decoration: underline;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 10px;
}

/* these two make the parent of main take up at least as much space as the screen is high -> footer is at bottom even if main is shorter than screen */
.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.content-container main {
  flex: 1;
}

footer {
  margin: 5px;
}

/* TODO: I would not support a dark mode, or when then only in M4
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
}

.green-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: var(--secondary-light-transparent);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}

.tableWrapper {
  background: var(--background);
  border-radius: 8px;
  margin-bottom: 20px;
}

.textWrapper {
  background: var(--background);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}
