.coinContainer {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.coinContainer div {
  white-space: nowrap;
}

.buttonContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 8px;
}
